/* Base Styles */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--header-color: #ee6c4d;
	--actions-color: #3d5a80;
	--primary-color: #293241;
}

html {
	font-size: 62.5%;
}

body {
	background: var(--primary-color);
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.6rem;
}

button {
	cursor: pointer;
}

a {
	color: var(--header-color);
}

/* Container */

.container {
	max-width: 60rem;
	margin: 0 auto;
	padding: 0 1.6rem;
}

/* Header */

.header {
	background: var(--header-color);
	color: #213753;
	padding: 1.6rem 0;
}

.header__title {
	font-size: 3.2rem;
	margin-bottom: 0.4rem;
}

.header__subtitle {
	font-size: 1.6rem;
	font-weight: 300;
}

/* Actions Bar */

.actions {
	background-color: var(--actions-color);
	border: 1px 0 #293241;
	padding: 1rem;
}

.actions__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 60rem;
	margin: 0 auto;
	min-height: 3rem;
	padding: 0 1.6rem;
}

/* Form Inputs */

.input {
	border: none;
	font-size: 1.4rem;
	font-weight: 300;
	height: 3rem;
	margin-right: 1.6rem;
	padding: 0.4rem 0.8rem;
}

.checkbox {
	display: flex;
	align-items: baseline;
}

.checkbox > input {
	margin-right: 0.4rem;
}

.button {
	background: var(--header-color);
	border: none;
	color: white;
	font-size: 1.4rem;
	font-weight: 300;
	padding: 0.8rem;
	transition: background 0.3s ease, color 0.3s ease;
}

.button:hover {
	background: #ea481f;
}

.button--text {
	background: none;
	border: none;
	color: white;
}

.button--text:hover {
	background: none;
	color: #b2bfd6;
	text-decoration: underline;
}

/* Note editor */

.title-input {
	border: 1px solid #dedfe0;
	font-size: 2rem;
	font-weight: 300;
	display: block;
	margin: 2.4rem 0;
	padding: 0.8rem;
	width: 100%;
}

.body-input {
	border: 1px solid #dedfe0;
	font-family: inherit;
	font-size: 1.6rem;
	font-weight: 300;
	display: block;
	margin: 2.4rem 0;
	min-height: 15rem;
	padding: 0.8rem;
	width: 100%;
}

/* Note List Item */

.list-item {
	text-decoration: none;
	color: #fafafa;
	cursor: pointer;
	background: var(--actions-color);
	border: 1px solid #003566;
	margin: 1.6rem 0;
	padding: 1rem 1.6rem;
	display: block;
	transition: background 0.3s ease;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list-item__container {
	display: flex;
	font-size: 1.8rem;
	font-weight: 300;
	align-items: baseline;
}

.list-item__container > *:first-child {
	margin-right: 0.8rem;
}

.list-item:hover {
	background: #354e6e;
}

.list-item__title {
	font-size: 1.8rem;
	margin-bottom: 0.4rem;
}

.list-item__subtitle {
	color: #666;
	font-size: 1.4rem;
	font-weight: 300;
	font-style: italic;
}

.list-title {
	margin: 3.2rem 0 1.6rem;
}

.empty-message {
	margin: 3.2rem 0;
}
